.slider_group {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.filtered_result {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  max-width: 100%;
  background-color: var(--container-bg);
  padding: 90px 0px;
}

.filtered_item {
  border-radius: 8px;
  background-color: #fff;
  padding: 6px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  border: 1px solid transparent;
  width: 250px !important;
  height: 100%;
  height: 486px;
  max-width: 230px;
}

.item_image {
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 217px;
  max-width: 217px;
  margin-bottom: 6px;
  border: 1px solid #f4f4f4;
}

.item_title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #1d2123;
  margin-bottom: 10px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  transition: all 0.3s ease;
}

.item_title:hover {
  color: #00bda7;
  cursor: pointer;
}

.priceForFilter {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  color: #ed0036;
}

.item_desc {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 4px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  text-align: left;
  margin-bottom: 10px;
}

.item_package {
  border: 1px solid #00bda7;
  background-color: rgba(0, 214, 143, 0.08);
  color: #00bda7;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50px;
  height: 30px;
}

.price,.prices {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #1d2123;
}

.input_prices {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.min_price,
.max_price {
  position: relative;
}

.manat_svg {
  position: absolute;
  right: 20px;
  top: 10px;
}

.price_range_input {
  border: 0 !important;
  background-color: #f7f7f7;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
  border-radius: 8px;
  padding: 5px;
  width: 75px;
  height: 40px;
  -webkit-appearance: none;
  outline: none;
}

.rating_text {
  color: #828282;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.rating_desc_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-bottom: 16px;
  margin-bottom: 24px;
  border-bottom: 1px solid #f7f9fc;
}

.price_container{
    height: 40px;
}

.skeleton {
  background-color: #e0e0e0;
  border-radius: 8px;
  animation: pulse 1.5s infinite;
  min-width: 180px;
}

@keyframes pulse {
  0% {
    background-color: #f0f0f0;
  }
  50% {
    background-color: #e0e0e0;
  }
  100% {
    background-color: #f0f0f0;
  }
}

.item_image.skeleton {
  width: 90%;
  height: 90%;
  margin: 10px;
}

.price.skeleton {
  width: 80px;
  height: 20px;
  margin-bottom: 10px;
}

.item_title.skeleton {
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
}

.rating.skeleton {
  width: 50px;
  height: 20px;
  margin-bottom: 10px;
}

.item_package.skeleton {
  width: 60px;
  height: 20px;
}

.empty_message_box {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.empty_message {
  padding: 20px;
  color: #888;
  font-size: 22px;
}

.select_and_result {
  width: 79%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.select_sort_options {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 25px;
}

.discount_box {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: #ed0036;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  text-align: center;
  color: #fff;
  border-radius: 24px;
  width: 41px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  margin-bottom: 2px;
}

.allOfPrices {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
  color: #828282;
}

.bestseller_title{
    font-size: 25px;
    padding-left: 30px;
    color:#1d2123;
    font-weight: 600;
}