.faqContainer {
  max-width: 800px;
  margin: 0px auto;
  padding: 40px;
  background: #f9f9f9;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.faqTitle {
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 600;
  color: #00bda7;
}

.faqAccordion {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.faqItem {
  background-color: #fff;
  border-radius: 12px !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.07);
}

.faqQuestion {
  font-weight: 600;
  padding: 7.5px 12.5px !important;
  font-size: 10px;
}

.faqAnswer {
  padding: 7.5px 12.5px;
  font-size: 9.5rem;
  color: #555;
}
