.category {
  gap: 12px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e5f8f6;
  background: #e5f8f6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02);
  padding: 12px 8px 20px;
  height: 140px;
  border-radius: 0 0 8px 8px;
  width: 100%;
  transition: all 0.3s ease-in;
}

.category:hover {
  background-color: rgb(188.8181818182, 237.1818181818, 232.0909090909);
  cursor: pointer;
}

.category_image {
  height: 60px;
  margin-bottom: 10px;
}

.category_title {
  color: #1d2123;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 550px) {
  .category_title {
    font-size: 13px;
  }

  .category_image {
    height: 50px;
  }
}

@media (max-width: 550px) {
  .category {
    height: 100px;
  }

  .category_title {
    font-size: 11px;
    line-height: 15px;
  }

  .category_image {
    height: 40px;
  }
}
