.addToCart {
  display: flex;
  border: 0;
  border-radius: 8px;
  background-color: #00bda7;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  padding: 14px;
  width: 100%;
  justify-content: center;
  position: relative;
  align-items: center;
  white-space: nowrap;
  max-height: 47px;
  cursor: pointer;
}

.addToCart:disabled {
  cursor: not-allowed;
  background-color: #828282d6;
}

.addToCart_desc {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.view_basket {
  font-size: 14px;
  padding: 12px 14px;
  color: #00b5a4;
  background-color: #fff;
  border: 1px solid #00b5a4;
  border-radius: 8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 140px;
  transition: all 0.3s ease-in-out;
  max-height: 40px;
}

.view_basket:hover {
  color: white;
  border: 1px solid #00b5a4;
  background-color: #00bda7;
}

.finish_the_order {
  font-size: 14px;
  padding: 12px 14px;
  color: white;
  border: 1px solid #00b5a4;
  background-color: #00bda7;
  border-radius: 8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  max-width: 140px;
  transition: all 0.3s ease-in-out;
  max-height: 40px;
  white-space: nowrap;
}

.finish_the_order:hover {
  color: #00b5a4;
  border: 1px solid #00b5a4;
  background-color: #fff;
}

.finish_the_order:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.clear_all_button {
  font-size: 14px;
  padding: 12px 14px;
  color: white;
  border: 1px solid #00b5a4;
  background-color: #00bda7;
  border-radius: 8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  max-width: 140px;
  transition: all 0.3s ease-in-out;
  max-height: 40px;
  white-space: nowrap;
}

.clear_box {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 30px;
}

.save_memory {
  max-width: 224px;
  font-size: 14px;
  display: inline-flex;
  color: #00b5a4;
  border: 1px solid #00b5a4;
  background-color: #fff;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  padding: 11px 20px;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.save_memory:disabled {
  border: 1px solid #e0e0e0;
  background: #fdfefe;
  color: #828282;
  cursor: not-allowed;
}

.pay {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 48px;
  height: 48px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  border: none;
  border-radius: 2px;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

@media (max-width: 500px) {
  .clear_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .clear_all_button {
    max-width: 300px;
    width: 250px;
  }
}
