.addToCart {
  display: flex;
  border: 0;
  border-radius: 8px;
  background-color: #00bda7;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  padding: 14px;
  width: 100%;
  justify-content: center;
  position: relative;
  align-items: center;
  white-space: nowrap;
  max-height: 47px;
  cursor: pointer;
}

.addToCart_desc {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.view_basket {
  font-size: 14px;
  padding: 12px 14px;
  color: #00b5a4;
  background-color: #fff;
  border: 1px solid #00b5a4;
  border-radius: 8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 200px;
  transition: all 0.3s ease-in-out;
  max-height: 40px;
}

.view_basket:hover {
  color: white;
  border: 1px solid #00b5a4;
  background-color: #00bda7;
}

.finish_the_order {
  font-size: 14px;
  padding: 12px 14px;
  color: white;
  border: 1px solid #00b5a4;
  background-color: #00bda7;
  border-radius: 8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  max-width: 200px;
  transition: all 0.3s ease-in-out;
  max-height: 40px;
  white-space: nowrap;
}

.finish_the_order:hover{
  color:#00b5a4;
  border: 1px solid #00b5a4;
  background-color: #fff;
}