.group_item {
  position: relative;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex: 0 0 auto;
  width: 330px;
  color: #1d2123;
  margin-top: 48px;
  position: relative;
  flex-direction: row;
  border-radius: 8px;
  background: #cce3ed;
  padding: 18px 20px;
  height: 64px;
  border: 0;
  transition: all 0.3s ease-in;
}

.group_item:hover {
  background-color: rgb(166.3043478261, 206.3043478261, 223.6956521739);
  cursor: pointer;
}

.group_img {
  position: absolute;
  right: 0px;
  bottom: 0;
  height: 80px;
  width: fit-content;
  max-width: 200px;
}

.title {
  color: #1d2123;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

@media (max-width: 1140px) {
  .title {
    font-size: 15px;
  }

  .group_img {
    max-width: 150px;
  }
}

@media (max-width: 1070px) {
  .group_item {
    width: 270px;
  }
}

@media (max-width: 900px) {
  .group_item {
    width: 340px;
  }
}

@media (max-width: 777px) {
  .group_item {
    width: 300px;
  }
}

@media (max-width: 670px) {
  .group_item {
    width: 550px;
  }
}

@media (max-width: 600px) {
  .group_item {
    width: 500px;
  }
}


@media (max-width: 550px) {
  .group_item {
    width: 450px;
  }
}

@media (max-width: 500px) {
  .group_item {
    width: 350px;
  }
}

@media (max-width: 400px) {
  .group_item {
    width: 330px;
  }
}