* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Euclid Circular A", sans-serif;
  /* background-color: #f8f8f8; */
}

.react-multi-carousel-dot-list .react-multi-carousel-dot button {
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  width: 8px;
  height: 8px;
  margin: 0 6px;
  margin-bottom: 1.6rem;
}

.react-multi-carousel-dot-list .react-multi-carousel-dot--active button {
  background-color: white !important;
}

.react-multiple-carousel__arrow {
  background-color: white !important;
}

.react-multiple-carousel__arrow::before {
  color: #000 !important;
}

.react-multiple-carousel__arrow {
  width: 40px;
  height: 40px;
  border: 0;
  background-color: #fff;
  background-size: 16%;
  box-shadow: 0 4px 8px 0 rgba(29, 33, 35, 0.08);
}

.service_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 16px;
  margin: 25px;
  gap: 32px;
}

.css-r64h58-MuiSlider-rail,
.css-xvk2i-MuiSlider-track {
  max-height: 2px;
  border: 1px solid currentColor;
  color: #00bda7;
}

.css-1xcmt9q-MuiSlider-thumb {
  background-color: white !important;
  width: 20px !important;
  height: 20px !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.css-1808mag-MuiPaper-root-MuiAccordion-root::before {
  height: 0px !important;
}

/* Global Spinner Class */
.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #00bda7;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 50px auto;
}

.spinner2 {
  width: 20px;
  height: 20px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #00bda7;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Animation */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.not_found {
  margin: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Başlıq */
.not_found_title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: #00b5a4;
  font-weight: 600;
  text-align: center;
}

/* Böyük rəqəm */
.not_found_number {
  font-size: 120px;
  color: #00b5a4;
  font-weight: 600;
  text-align: center;
}

/* Responsive - telefonlar üçün */
@media (max-width: 600px) {
  .not_found {
    margin: 40px 20px;
    padding: 0 10px;
  }

  .not_found_title {
    font-size: 28px;
  }

  .not_found_number {
    font-size: 80px;
  }
}

/* Orta ekranlar üçün */
@media (min-width: 601px) and (max-width: 900px) {
  .not_found {
    margin: 60px 40px;
  }

  .not_found_title {
    font-size: 34px;
  }

  .not_found_number {
    font-size: 100px;
  }
}

.Toastify__toast-icon--success svg path {
  stroke: #00b5a4 !important;
  fill: #00b5a4 !important;
}

.about {
  text-align: center;
  font-size: 34px;
  text-align: center;
  font-weight: 500;
  color: var(--text);
  padding-bottom: 30px;
}

.about_container {
  padding: 40px;
}

.about_text_box {
  background-color: rgb(255, 255, 255);
  margin: 0px 25px;
}

.about_text {
  text-align: left;
  color: rgb(102, 102, 102);
  font-size: 16px;
  padding: 16px 24px 40px;
  height: 200px;
}

.company_name {
  font-weight: 600;
  color: rgb(102, 102, 102);
}

.css-13lvt8g-MuiButtonBase-root-MuiRadio-root {
  padding: 9px 9px 9px 0px !important;
}

.ant-layout-sider {
  background-color: #00b5a4 !important;
}
.ant-menu-dark,
.ant-layout-sider .ant-layout-sider-trigger {
  background-color: #00b5a4 !important;
}

.ant-menu-item-selected {
  background-color: #feeac1 !important;
  color: #333333 !important;
}

.ant-menu-item {
  background-color: #00bfa6 !important;
  color: white !important;
}

.ant-menu-item:hover {
  background-color: #feeac1 !important;
  color: #333333 !important;
}

.ant-btn-variant-solid {
  background-color: #00b5a4;
}

.ant-btn-color-dangerous.ant-btn-variant-solid {
  background-color: #e21e4c;
}

.ant-menu-item {
  font-weight: bold !important;
}

.ant-menu-item-selected {
  background-color: #feeac1 !important;
  color: #333333 !important;
  font-weight: bold !important;
}

.ant-menu-item:not(.ant-menu-item-selected) {
  background-color: #00bfa6 !important;
  color: white !important;
  font-weight: bold !important;
}

.ant-menu-item-selected .anticon {
  font-size: 20px !important;
  color: #333333 !important;
}

.ant-menu-item .anticon {
  font-size: 18px !important;
}

.ant-menu {
  padding-top: 15px !important;
}

.ant-menu-item {
  margin-bottom: 7px !important;
}

:root {
  --footer-bg: #00242d;
  --footer-text: #ffffff;
  --contact-bg: #04393f;
  --social-icon-bg: #04393f;
  --link-color: rgba(255, 255, 255, 0.8);
  --border-color: rgba(255, 255, 255, 0.2);
  --text-color: #ffffff;
  --container-bg: #f8f8f8;
  --text: rgb(102, 102, 102);
  --subtext: #1d2123;
}

/* Dark mode */
[data-theme="dark"] {
  --footer-bg: #ffffff;
  --footer-text: #1d2123;
  --contact-bg: #f0f0f0;
  --social-icon-bg: #e0e0e0;
  --link-color: rgba(0, 0, 0, 0.8);
  --border-color: rgba(0, 0, 0, 0.2);
  --text-color: #1d2123;
  --container-bg: #00242d;
  --text: #f0f0f0;
  --subtext: #ffff;
}

.home_page {
  max-width: 1440px;
  margin: auto 0;
}

.categories_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 26px;
}

.small_groups_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  place-items: center;
  place-content: center;
  gap: 22px;
  padding: 0 26px;
  width: 100%;
}

.blogs {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  gap: 25px;
  place-items: center;
  place-content: center;
  padding-bottom: 80px;
}

@media (max-width: 1065px) {
  .categories_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 26px;
  }
}

@media (max-width: 900px) {
  .small_groups_container {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, 90px);
    place-items: center;
    padding: 0;
  }
}

@media (max-width: 777px) {
  .small_groups_container {
    gap: 10px;
  }
}

@media (max-width: 670px) {
  .small_groups_container {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 90px);
    place-items: center;
    padding: 0;
  }
}

@media (max-width: 880px) {
  .about_text {
    height: auto;
  }
}

@media (max-width: 580px) {
  .about_text {
    font-size: 14px;
  }

  .about_container {
    padding: 20px 0px;
  }
}

@media (max-width: 1180px) {
  .blogs {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
  }
}

@media (max-width: 780px) {
  .blogs {
    grid-template-columns: auto;
    grid-template-rows: repeat(6, auto);
  }
}

@media (max-width: 500px) {
  .blogs {
    grid-template-columns: 400px;
    grid-template-rows: auto;
  }
}

@media (max-width: 420px) {
  .blogs {
    grid-template-columns: 350px;
    grid-template-rows: auto;
  }
}

.contact_page {
  background-color: var(--container-bg);
  color: var(--subtext);
  display: flex;
  align-items: center;
  justify-content: center;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 46px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.breadcrumb_link {
  color: #4f4f4f;
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  margin-right: 10px;
}

.breadcrumb_current {
  margin-left: 10px;
  color: #1d2123;
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
}

/* .ant-modal-root .ant-modal {
  position: relative;
  top: 50px;
} */

.ant-btn-variant-solid:hover{
  background-color: #1b9b8e !important;
}