.profile {
  display: flex;
  gap: 32px;
  padding: 32px;
  background-color: var(--container-bg);
  color: var(--subtext);
}

.profile_body {
  background-color: #fff;
  border-radius: 8px;
  padding: 48px 24px 70px;
  flex: 3;
}

.profile_menu_container {
  flex: 1;
}

.plus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  min-width: 18px;
  color: #27ae60;
  border: 1px solid currentColor;
  border-radius: 50%;
  justify-content: center;
  margin-right: 9px;
}

.plus_and_title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  color: #1d2123;
}

@media (max-width: 1024px) {
  .profile {
    flex-direction: column;
    padding: 24px;
    gap: 24px;
  }

  .profile_body {
    padding: 32px 20px 50px;
  }
}

@media (max-width: 600px) {
  .plus_and_title {
    font-size: 13px;
  }

  .plus {
    width: 16px;
    height: 16px;
    min-width: 16px;
    margin-right: 8px;
  }

  .profile {
    padding: 16px;
    gap: 16px;
  }

  .profile_body {
    padding: 24px 16px 40px;
  }
}